.filtersForm {
	display: flex;
	flex-direction: column;
	align-items: center;
	width: 100%;
	overflow-y: auto;
}

.filtersTitle {
	font-size: 18px;
	font-weight: 700;
	margin-bottom: 15px;
	margin-top: 15px;
}

.filtersTitle span {
	color: #731982;
	cursor: pointer;
}

.filtersGroup {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
}

.filtersLabel {
	position: relative;
	cursor: pointer;
	margin: 0 7.5px 15px 7.5px;
}

.filtersInput {
	width: 1px;
	height: 1px;
	position: absolute;
	visibility: hidden;
}

.filtersInput:checked ~ div {
	background-color: rgba(255, 255, 255, 0.8);
	box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.07), 0 3px 7px 0 rgba(0, 0, 0, 0.06);
}

.filtersSearch {
	width: 100%;
	max-width: 400px;
	margin-bottom: 15px;
	display: flex;
	flex-direction: column;
	border: 1px solid #731982;
	border-radius: 18px;
	font-size: 18px;
}

.filtersSelect {
	width: 100%;
	height: 52px;
	padding: 0 15px;
	font-family: Nunito, sans-serif;
}

.filtersResults {
	width: 100%;
	max-height: 280px;
	overflow-y: scroll;
}

.filtersResults li {
	cursor: pointer;
	display: block;
	width: 100%;
	padding: 10px 15px;
}

.filtersResults li:hover {
	background-color: #f4f2f2;
}

.filtersCheckbox {
	display: flex;
	align-items: center;
}

.filtersCheckbox input {
	width: auto;
	margin-right: 10px;
}

@media (min-width: 992px) {
	.filtersGroup {
		display: flex;
		flex-wrap: nowrap;
	}
}
