.hero {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	width: 100%;
	height: 50vh;
	margin-top: 15px;
	padding: 15px;
	border-radius: 25px;
	background-color: #00b956;
	color: #ffffff;
	text-align: center;
}

.heroTitle {
	font-size: 26px;
	font-weight: 900;
}

.categories {
	display: flex;
}
