.homePage {
	padding: 30px 0;
}

.header {
	width: 100%;
	background-color: #ffffff;
	color: #1a1a1a;
	padding-top: 15px;
	padding-bottom: 5px;
	border-radius: 25px;
	box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.05), 0 1px 5px 0 rgba(0, 0, 0, 0.04);
}

.pageHeader {
	width: 100%;
	background-color: #ffffff;
	color: #1a1a1a;
	padding-top: 15px;
	padding-bottom: 15px;
	box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.05), 0 1px 5px 0 rgba(0, 0, 0, 0.04);
}

.footer {
	padding-top: 15px;
	padding-bottom: 15px;
	margin-top: 30px;
	line-height: 1.7;
	font-weight: 700;
	background-color: #ffffff;
	border-radius: 25px;
	color: #1a1a1a;
	font-size: 14px;
	text-align: center;
	box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.05), 0 1px 5px 0 rgba(0, 0, 0, 0.04);
}

.container {
	width: 100%;
	max-width: 1400px;
	margin: 0 auto;
	padding-left: 15px;
	padding-right: 15px;
}

.containerFlex {
	display: flex;
	justify-content: space-between;
	align-items: center;
	width: 100%;
	max-width: 1400px;
	margin: 0 auto;
	padding-left: 15px;
	padding-right: 15px;
}

.grid {
	display: grid;
	grid-row-gap: 15px;
}

@media (min-width: 400px) {
	.grid {
		grid-column-gap: 15px;
		grid-template-columns: 1fr 1fr;
	}
}

@media (min-width: 768px) {
	.homePage {
		padding: 30px;
	}

	.page {
		padding: 0 0 30px 0;
	}

	.header {
		padding-top: 30px;
		padding-bottom: 20px;
	}

	.pageHeader {
		width: 100%;
		background-color: #ffffff;
		color: #1a1a1a;
		padding-top: 30px;
		padding-bottom: 30px;
	}

	.footer {
		padding-top: 30px;
		padding-bottom: 30px;
		margin-top: 50px;
	}

	.grid {
		grid-template-columns: 1fr 1fr 1fr 1fr;
	}
}

.button {
	min-width: 200px;
	height: 52px;
	padding: 15px 20px;
	background-color: #731982;
	border: 0;
	border-radius: 16px;
	font-size: 16px;
	font-weight: 700;
	text-align: center;
	color: #ffffff;
	transition: background-color 0.2s linear;
}

.button:hover {
	background: #660066;
}

.buttonIcon {
	display: flex;
	justify-content: center;
	align-items: center;
	width: 52px;
	height: 52px;
	background-color: #00b956;
	border: 0;
	border-radius: 50%;
	transition: background-color 0.2s linear;
}

.buttonIcon:hover {
	background: #008224;
}

.buttonFloat {
	position: fixed;
	bottom: 15px;
	right: 15px;
}

@media (min-width: 992px) {
	.header {
		border-radius: 80px;
	}

	.footer {
		border-radius: 80px;
	}
}

@media (min-width: 1600px) {
	.container {
		max-width: 1600px;
	}

	.containerFlex {
		max-width: 1600px;
	}
}
