.popup {
	display: flex;
	justify-content: center;
	align-items: center;
	position: fixed;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-color: rgba(0, 0, 0, 0.5);
	z-index: 99;
	transition: all 0.3s ease-in-out;
}

.popupContent {
	display: flex;
	flex-direction: column;
	width: 100%;
	max-width: 1000px;
	padding: 50px 15px 30px 15px;
	background-color: #ffffff;
	border-top-left-radius: 25px;
	border-top-right-radius: 25px;
	position: relative;
}

.popupClose {
	display: flex;
	justify-content: center;
	align-items: center;
	width: 28px;
	height: 28px;
	background-color: #ffffff;
	border: 1px solid #d8d8d8;
	border-radius: 14px;
	color: #731982;
	font-size: 28px;
	font-weight: 900;
	position: absolute;
	top: 15px;
	right: 15px;
	cursor: pointer;
}
