.form {
	display: flex;
	flex-direction: column;
	align-items: center;
	width: 100%;
	max-width: 600px;
}

.searcher {
	width: 100%;
	height: 52px;
	margin: 15px 0;
	border: 1px solid #00b956;
	border-radius: 18px;
}
